* {
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    max-width: 1920px;
    margin: 0px auto;
    font-family: "Brutal Type";
}

.bodyWrap {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

[class*="icon"] {
    position: relative;
}

[class*="icon"] [class*='path'] {
    position: absolute;
}

header {
    background-repeat: no-repeat;
    background-position: center;

}

header {
    background-color: #eaeff9;
}

header .logo {
    padding-left: 60px;
    width: 230px;
    position: relative;
    float: left;
}

header .logo img {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -24px;
    width: 55px;
    height: auto;

}

header .logo .txt span {
    display: block;
    font-family: "Monda";
    text-transform: uppercase;
    color: #ffffff;
}

header .logo .txt span:first-child {
    font-size: 37px;
    font-weight: bold;
    line-height: 32px;
}

header .logo .txt span:last-child {
    padding-left: 5px;
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: 0.33em;
}

header .logo a {
    text-decoration: none;
}

header span.icon-time {
    font-size: 20px;
    color: #ffffff;
}

header .dataTime span.time {
    font-size: 35px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
}

header .dataTime span.date {
    font-size: 13px;
    line-height: 16px;
    color: #9ec2f8;
}

header .input span:nth-child(odd) {
    font-size: 17px;
    color: #89b4f4;
}

header .input span:nth-child(even) {
    font-size: 13px;
    line-height: 84px;
    color: #ffffff;
    text-transform: uppercase;
}

header .input a {
    text-decoration: none;
}

header .menu a {
    font-size: 15px;
    line-height: 84px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

header .menu a.active {
    color: #f12f77;
}

header .dataTime {
    width: 320px;
    float: right;
    padding-left: 35px;

}

header .input {
    width: 275px;
    float: right;
    padding-left: 55px;
    margin-top: 5px;
}

header .menu li {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 30px;
}

.banner .infoContent h1 {
    font-size: 133px;
    line-height: 84px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 32px;
}

.banner .infoContent span {
    font-size: 70px;
    line-height: 84px;
    color: #ffffff;
    font-weight: 700;
}

.banner .infoContent p {
    font-size: 20px;
    line-height: 33px;
    color: #96c2ff;
    margin-top: 80px;
}

.but button {
    font-size: 16px;
    line-height: 65px;
    color: #ffffff;
    text-align: center;
    background-color: #e0186c;
    border: none;
    width: 230px;
    height: 65px;
    font-weight: 700;
    margin-top: 92px;
}

.banner .social a {
    text-decoration: none;
}

.banner .social span[class^="ic"] {
    font-size: 20px;
    color: #ffffff;
}

.banner .social span.title {
    font-size: 19px;
    line-height: 33px;
    font-weight: 700;
    color: #2f7bde;
    text-transform: uppercase;

}

.banner .statisticBlock .in {
    position: relative;
}

.banner .statisticBlock span:first-child {
    display: block;
    position: absolute;
    left: -35px;
    bottom: 50%;
}

.statisticBlock span:first-child {
    color: #012c7a;
    font-size: 36px;
    background-color: #fff;
    box-shadow: 21px 21px 21px 0px rgba(136,163,221,0.33);
}

.statisticBlock span:nth-child(2) {
    font-size: 16px;
    line-height: 33px;
    color: #012c7a;
}

.statisticBlock span.dollar {
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
    color: #012c7a;
}

.statisticBlock span.percent {
    font-size: 16px;
    line-height: 33px;
    font-weight: 700;
    color: #4194ff;
}

.statisticBlock span.percent1 {
    font-size: 16px;
    line-height: 33px;
    font-weight: 700;
    color: #e0186c;
}

.statisticBlock span.icon-triangleTop {
    color: #4194ff;
}

.statisticBlock .card {
    display: inline-block;
    padding-left: 13px;
    margin-left: 70px;
}

.banner .statisticBlock {
    margin-left: 425px;
    margin-top: 140px;
}

.statisticBlock .card span.icon-triangleDown {
    color: #e0186c;
}

.info a {
    text-decoration: none;
}

.info .tabs a.active {
    font-size: 16px;
    line-height: 110px;
    font-weight: 700;
    color: #e0186c;
    text-transform: uppercase;
}

.info .tabs a {
    font-size: 16px;
    line-height: 110px;
    color: #0349c6;
    text-transform: uppercase;
    font-weight: 700;
}

.info {
    background-color: #eaeff9;
}

.info .accordion h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
    padding-bottom: 72px;
}

.info .accordion p.title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #012c7a;
    padding-bottom: 48px;
}

.info .accordion p {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    padding-bottom: 48px;
}

.tabs .in {
    position: relative;
}

.tabs .but2 button {
    display: block;
    position: absolute;
    left: -38px;
    top: 90px;
    font-size: 16px;
    line-height: 53px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    background-color: #2f7bde;
    border: none;
    font-weight: 700;
}

.but2 button {
    font-size: 16px;
    line-height: 53px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    background-color: #2f7bde;
    border: none;
    font-weight: 700;
}

.info .tabs {
    width: 325px;
    float: left;
    margin-top: 150px;
}

.info .content {
    width: calc(100% - 325px);
    float: right;
    margin-top: 80px;
}

.tarif {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eaeff9;
    margin-bottom: -155px;
}

.tarif .cards .in {
    position: relative;
}

.tarif .cards span[class^="icon-"] {
    display: block;
    position: absolute;
    left: -80px;

}

.tarif .card {
    display: inline-block;
    width: 230px;
    margin-left: 155px;
    margin-top: 40px;
}

.tarif .card span[class^=icon] {
    font-size: 68px;
}

.tarif a {
    text-decoration: none;
}

.tarif span.title {
    font-size: 20px;
    line-height: 13px;
    font-weight: 700;
    color: #0349c6;

}

.tarif .card span.active {
    color: #ffffff;
    font-size: 20px;
    line-height: 13px;
    font-weight: 700;
}

.tarif span.percent {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #e0186c;
    padding-left: 1px;
}

.tarif span.day {
    font-size: 13px;
    line-height: 13px;
    color: #e0186c;
    letter-spacing: 0.22em;
}

.tarif .contentcard {
    margin-top: 100px;
}

.tarif .contentcard .planBlock {
    margin-top: 102px;

}

.tarif .contentcard h3 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.tarif .contentcard .planBlock {
    background-color: #012c7a;
    border: 1px dashed #ffffff;
}

.contentcard .planBlock .ulplan span:nth-child(odd) {
    font-size: 15px;
    line-height: 50px;
    font-weight: 300;
    color: #96c2ff;
    text-transform: uppercase;
}

.contentcard .planBlock .ulplan span:nth-child(even) {
    font-size: 15px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.contentcard .planBlock .ulplan2 span.min {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

.contentcard .planBlock .ulplan2 span.dollar {
    font-size: 27px;
    line-height: 33px;
    font-weight: 700;
    color: #2b7fed;
}

.contentcard .planBlock .ulplan2 span.price {
    font-size: 15px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.contentcard .planBlock .ulplan2 span.payMents {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    text-transform: uppercase;
    color: #96c2ff;
}

.contentcard .planBlock span.profit {
    font-size: 15px;
    line-height: 120px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

.planBlock .ulplan3 span.percent {
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
    color: #e0186c;
}

.planBlock .ulplan4 span.percent {
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
    color: #2b7fed;
}

.contentcard .listPlan label {
    font-size: 15px;
    line-height: 84px;
    text-transform: uppercase;
    color: #96c2ff;
}

.contentcard .listPlan input {
    font-size: 17px;
    line-height: 55px;
    color: #ffffff;
    width: 300px;
    height: 55px;
    background-color: #0b48af;
    border: 1px solid #3168cb;
}

.contentcard .listPlan span {
    font-size: 17px;
    line-height: 84px;
    color: #ffffff;
}

.contentcard .listPlan select {
    font-size: 17px;
    line-height: 84px;
    color: #ffffff;
    font-weight: 500;
    width: 300px;
    background-color: #0b48af;
    border: 1px solid #3168cb;
}

.contentcard .calculator {
    text-align: center;
}

.contentcard .calculator input {
    background-color: #e0186c;
    width: 630px;
}

.contentcard .calculator span {
    font-size: 15px;
    line-height: 40px;
    color: #82adf1;
    font-weight: 300;
}

.contentcard .yourProfit {
    text-align: center;
}

.contentcard .yourProfit span:first-child {
    font-size: 15px;
    line-height: 55px;
    font-weight: 300;
    color: #96c2ff;
    text-align: center;
    text-transform: uppercase;
}

.contentcard .yourProfit span.dollar {
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.contentcard .but {
    text-align: center;
}

.contentcard .planBlock div {
    display: inline-block;
    vertical-align: center;

}

.listPlan .item {
    width: 50%;
    float: left;
    text-align: center;
}

.video .videoGraph h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
    margin-top: 155px;
}
.video {
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
.video .videoGraph span.title {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: rgba(3, 73, 198, 0.11)
}

.video .in {
    position: relative;
}

.video .videoGraph a {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    margin: auto;
    text-decoration: none;
}

.video .videoGraph span.icon-power {
    font-size: 95px;
    line-height: 95px;
    color: #ffffff;
    box-shadow:  0px 0px 51px 33px rgba(0,7,49,0.55);
    border-radius: 50%;
}

.video .statisticWebsite4 span:first-child {
    color: #4194ff;
}

.video .statisticWebsite5 span:first-child {
    color: #de1c6e;
}
.statistic {
    background-repeat: no-repeat;
    background-position: center;
}
.statistic span[class^="icon"] {
    color: #044ac6;
}

.statistic span.number {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
    color: #0349c6;
}

.statistic .statisticWebsite4 span.number {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
    color: #4194ff;
}

.statistic .statisticWebsite5 span.number {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
    color: #de1c6e;
}

.statistic span.title {
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    color: #061046;
}

.statistic .statisticWebsite4 span.icon-galocha2 {
    color: #4495ff;
}

.statistic .statisticWebsite5 span.icon-galocha2 {
    color: #de1d6f;
}

.statistic .statisticWebsite4 span.persent {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
}

.statistic .statisticWebsite {
    display: inline-block;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 50px;
}

.statistic .statisticWebsite4 {
    display: inline-block;
    float: right;
    margin-left: 100px;
}

.statistic .ops .in {
    position: relative;
}

.statistic .ops span[class^="icon"] {
    display: block;
    position: absolute;
    left: 0;
    right: 15px;
}

.statistic .statisticWebsite5 {
    display: inline-block;
    float: right;
}

.deposit {
    margin-top: 445px;
}

.deposit .table {
    width: 100%;
    display: table;
}

.deposit .oneList,
.deposit .twoList {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.listDeposit .oneList {
    text-align: center;
}

.listDeposit .twoList {
    text-align: center;
}

.deposit .listDeposit h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
    padding-bottom: 110px;
}

.deposit .oneList span.title {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: #061046;
}

.deposit .oneList span.data {
    font-size: 14px;
    line-height: 50px;
    color: #91a8ce;
}

.deposit .oneList span[class^="icon"] {
    color: #4194ff;
}

.deposit .oneList span.dollar {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #4194ff;
}

.deposit .oneList li span:last-child {
    color: #061046;
}

.deposit .twoList span.title {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: #061046;
}

.deposit .twoList span.data {
    font-size: 14px;
    line-height: 50px;
    color: #91a8ce;
}

.deposit .twoList span[class^="icon"] {
    color: #de1c6e;
}

.deposit .twoList span.dollar {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.deposit .twoList li span:last-child {
    color: #061046;
}

.deposit .but2 {
    text-align: center;
}



.advantages {
    background-repeat: no-repeat;
    background-position: center;


}

.advantages h3 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;

}

.advantages p.title {
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.advantages p:not(.title) {
    font-size: 16px;
    line-height: 30px;
    color: #70aeff;
}

.advantages span.persent1 {
    font-size: 120px;
    line-height: 84px;
    font-weight: 700;
    color: #70aeff;
}

.advantages span.persent2 {
    font-size: 120px;
    line-height: 84px;
    color: #70aeff;
}

.advantages .but {
    text-align: center;

}

.advantages .block {
    width: 50%;
    float: left;
    margin-top: 140px;
    text-align: center;
}

.news h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
    padding-top: 120px;
    padding-bottom: 130px;
}
.news {
    background-color: #fff;
}
.news p:first-child {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #061046;
}

.news span[class^="icon"] {
    color: #de1c6e;
}

.news span.data {
    font-size: 16px;
    line-height: 30px;
    color: #739cdd;
}

.news p.title {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}

.news .list {
    width: 33%;
    float: left;
    text-align: center;
}
.payments {
    background-color: #eaeff9;
}
.payments img {
    text-align: center;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 5px;
}
footer {
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -50px;
}
footer .table {
    width: 100%;
    display: table;
}

footer .data,
footer .logo,
footer .contact {
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
    padding-top: 40px;
}

footer .data a {
    display: block;
    text-align: left;
}

footer .logo {
    text-align: center;
}

footer .logo span {
    display: block;
}

footer .logo span.title {
    margin-bottom: -50px;
}

footer .contact a {
    display: block;
}

footer .contact {
    text-align: right;
}

.fonFooter {
    background-color: #0348c5;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}

.menuFooter li {
    display: inline-block;
    padding-left: 70px;
}

footer a {
    text-decoration: none;
}

footer .data span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
    text-transform: uppercase;
}

footer .data a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

footer .logo span.title {
    font-size: 37px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

footer .logo span:last-child {
    font-size: 13px;
    line-height: 84px;
    color: #ffffff;
    text-transform: uppercase;
}

footer .logo .copyright span {
    font-size: 15px;
    line-height: 30px;
    color: #96c2ff;
}

footer .contact span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
    text-transform: uppercase;
}

footer .contact a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

footer .menuFooter a {
    font-size: 15px;
    line-height: 84px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

.left {
    background-color: #00256a;
    display: block;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 200px;
}

.left a {
    text-decoration: none;
}

.left a span[class^="icon"] {
    color: #89b4f4;

}

.left .transition a span:last-child {
    font-size: 14px;
    line-height: 120px;
    color: #ffffff;
    text-transform: uppercase;

}

.left .transition {
    border-bottom: 1px solid #325088;
    position: relative;
}

.left .transition span[class^="icon"] {
    position: relative;
    display: inline-block;
    bottom: 40px;

}

.left .copyright span {
    font-size: 13px;
    line-height: 1313px;
    color: #6f99da;
}

.right header.Referrals {
    background-color: #00256a;
    padding-top: 15px;
}

.right header.Referrals a {
    text-decoration: none;
}

.right header.Referrals .logo span.title {
    font-size: 30px;
    line-height: 7px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.right header.Referrals .logo span:last-child {
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.22em;
}

.right header.Referrals .menu1 a {
    font-size: 15px;
    line-height: 84px;
    font-weight: 500;
    color: #ffffff;
}

.right header.Referrals .wrap a span {
    font-size: 15px;
    color: #ffffff;
    padding-left: 15px;
}

.right header.Referrals .logo {
    float: left;
    width: 184px;
    padding-top: 33px;
}

.right header.Referrals {
    height: 120px;
    width: auto;
}

.right header.Referrals .menu1 {
    width: auto;
}

.right header.Referrals .wrap {
    float: right;
    width: 160px;
    padding-top: 33px;
    padding-left: 15px;
}

.right header.Referrals .menu1 li {
    padding-left: 30px;
    display: inline-block;
}

.statisticAccount .listUser {
    width: 50%;
    float: left;
}

.statisticAccount .balance {
    width: 50%;
    float: left;

}

.statisticAccount .listUser ul {
    display: inline-block;

}

.statisticAccount .listUser span.data {
    display: block;
}

.statisticAccount .men {
    width: 45px;
    height: 45px;
}

.referrals {
    background-color: #d6dff2;
}

.statisticAccount a {
    text-decoration: none;
}

.statisticAccount .listUser span {
    font-size: 14px;
    line-height: 18px;
    color: #012c7a;
}

.statisticAccount .listUser span.data {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #012c7a;
}
.statisticAccount .balance {
    position: relative;
}
.statisticAccount .balance .but button {
    font-size: 16px;
    line-height: 65px;
    color: #ffffff;
    text-align: center;
    background-color: #003ead;
    border: none;
    width: 230px;
    font-weight: 700;
    position: absolute;
    display: block;
    left: -50%;
    bottom: 60px;
}

.statisticAccount .yourbalance span:first-child {
    color: #df2977;
}

.statisticAccount .yourbalance span:nth-child(2) {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0349c6;
}

.statisticAccount .yourbalance span:nth-child(3) {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #0349c6;
}

.statisticAccount .balance {
    position: relative;
}

.statisticAccount .balance .but2 button {
    font-size: 16px;
    line-height: 65px;
    color: #ffffff;
    text-align: center;
    background-color: #de1c6e;
    border: none;
    width: 230px;
    font-weight: 700;
    position: relative;
    display: block;
    bottom: 60px;
    left: 50%;

}

.statisticAccount .manyCards .card span[class^="icon"] {
    color: #012c7a;

}

.statisticAccount .card span:nth-child(even) {
    font-size: 14px;
    line-height: 18px;
    color: #012c7a;
    display: block;
}

.manyCards .card {
    float: left;
    width: 20%;
}

.statisticAccount .card span.dollars {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #2f7bde;
    display: block;
}

.statisticAccount .card span.money {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #de1c6e;
    display: block;
}

.referrals h1 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
}

.referrals .men2 {
    width: 60px;
    height: 60px;
}

.referrals .data {
    background-color: #ffffff;
    height: 245px;
    width: 680px;
}

.referrals a {
    text-decoration: none;
}

.referrals span[class^="icon"] {
    color: #f03e81;
}

.referrals span.title {
    font-size: 12px;
    line-height: 30px;
    color: #0349c6;
    text-transform: uppercase;
}

.referrals span[class^=down] {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #0349c6;
}

.referrals .data .click {
    background-color: #eaeff9;
    border: 1px solid #cfdaf1;
}

.referrals .data .click a {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}

.referrals .data2 span.name {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .data2 a {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}

.referrals .data2 {
    background-color: #ffffff;
    height: 245px;
    width: 680px;
}

.referrals .referralsBlock1 {
    background-color: #f3f7ff;
}
.firstData .data {
    width: 50%;
    float: left;
}
.firstData .data2 {
    width: 50%;
    float: right;
}
.blockReferrals .referralsBlock {
    width: 33%;
    float: left;
}
.referrals .listStatistic {
    background-color: #ffffff;
}

.referrals .listStatistic label[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic span[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic select {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    background-color: #eaeff9;
    border: 1px solid #cfdaf1;
}

.referrals .listStatistic .DataUser {
    font-size: 14px;
    line-height: 50px;
    color: #012c7a;
}

.referrals .listStatistic .DataUser2 {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #4194ff;
}

.referrals .listStatistic .DataUser3 {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.referrals .listStatistic li {
    border: 1px dotted #bccae0;
}

.referrals .listStatistic2 {
    background-color: #ffffff;
}

.referrals .listStatistic2 select {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    background-color: #eaeff9;
    border: 1px solid #cfdaf1;
}

.referrals .listStatistic2 label[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic2 span[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic2 li {
    border: 1px dotted #bccae0;
}

.listStatistic2 .Accordion a {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #4194ff;
}

.listStatistic2 .accordion span.icon-triangleDown {
    color: #4194ff;
}

.listStatistic2 .accordion a.open {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.listStatistic2 .accordion .content span {
    font-size: 14px;
    line-height: 50px;
    color: #012c7a;
}

.listStatistic2 .accordion .content span.ones {
    font-size: 14px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.listStatistic2 .mail a {
    font-size: 14px;
    line-height: 50px;
    color: #012c7a;
}

.listStatistic2 .status span {
    font-size: 14px;
    line-height: 50px;
    color: #de1c6e;
}

.right .deposit {
    background-color: #d6dff2;
}

.right .deposit .depositCard {
    background-color: #eaeff9;
}

.right .deposit h2 {
    font-size: 50px;
    line-height: 45px;
    font-weight: 700;
    color: #0349c6;
}

.depositCard .deposiImg span:last-child {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
}

.depositCard .persentLeft span:nth-child(odd) {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #f1257b;
}

.depositCard .persentLeft span:nth-child(2) {
    font-size: 90px;
    line-height: 14px;
    font-weight: 700;
    color: #e0186c;
}

.miniCards span[class^="icon"] {
    font-size: 30px;
    line-height: 32px;
    color: #de1c6e;
}

.miniCards span.title {
    font-size: 16px;
    line-height: 10px;
    color: #012c7a;
}

.miniCards .miniDate span.number {
    font-size: 16px;
    line-height: 5px;
    font-weight: 700;
    color: #012c7a;
}

.miniCards .miniOutput span.number {
    font-size: 16px;
    line-height: 10px;
    color: #2f7bde;
    font-weight: 700;
}

.miniCards .miniAmount span.number {
    font-size: 16px;
    line-height: 10px;
    color: #de1c6e;
    font-weight: 700;
}

.depositCard .progres span.title {
    font-size: 14px;
    line-height: 7px;
    color: #012c7a;
}

.depositCard .progres span.number {
    font-size: 14px;
    line-height: 8px;
    font-weight: 700;
    color: #012c7a;
}

.depositCard .persentRight span:first-child {
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #2f7bde;
}

.depositCard .persentRight span:last-child {
    font-size: 50px;
    line-height: 45px;
    font-weight: 700;
    color: #2f7bde;
}