* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Brutal Type";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

header {
    background-color: #023ba2;
}

header .logo .title {
    font-size: 37px;
    line-height: 84px;
    font-weight: bold;
    color: #ffffff;
}

header .logo .description {
    font-size: 13px;
    line-height: 84px;
    color: #ffffff;
}

header .logo a {
    text-decoration: none;
}

header span.icon-time {
    font-size: 20px;
    color: #ffffff;
}

header .dataTime span.time {
    font-size: 35px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
}

header .dataTime span.date {
    font-size: 13px;
    line-height: 16px;
    color: #9ec2f8;
}

header .input span:nth-child(odd) {
    font-size: 17px;
    color: #89b4f4;
}

header .input span:nth-child(even) {
    font-size: 13px;
    line-height: 84px;
    color: #ffffff;
    text-transform: uppercase;
}

header .input a {
    text-decoration: none;
}

header .menu a {
    font-size: 15px;
    line-height: 84px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

header .menu a.active {
    color: #f12f77;
}
header .logo {
    width: 25%;
    float: left;
}
header .datatime {
    width: 25%;
    float: right;
}
header .input {
    width: 25%;
    float: right;
}
.menu li {
    display: inline-block;
    padding-left: 70px;

}

.banner {
    background-color: #023ba3;
}

.banner .statisticBlock {
    background-color: #ffffff;
}

.banner .infoContent h1 {
    font-size: 133px;
    line-height: 84px;
    color: #ffffff;
    font-weight: 700;
}

.banner .infoContent span {
    font-size: 70px;
    line-height: 84px;
    color: #ffffff;
    font-weight: 700;
}

.banner .infoContent p {
    font-size: 20px;
    line-height: 33px;
    color: #96c2ff;
}

.but button {
    font-size: 16px;
    line-height: 65px;
    color: #ffffff;
    text-align: center;
    background-color: #e0186c;
    border: none;
    width: 230px;
    height: 65px;
    font-weight: 700;
}

.banner .social a {
    text-decoration: none;
}

.banner .social span[class^="ic"] {
    font-size: 20px;
    color: #ffffff;
}

.banner .social span.title {
    font-size: 19px;
    line-height: 33px;
    font-weight: 700;
    color: #2f7bde;
    text-transform: uppercase;
}

.statisticBlock span:first-child {
    color: #012c7a;
    font-size: 36px;
}

.statisticBlock span:nth-child(2) {
    font-size: 16px;
    line-height: 33px;
    color: #012c7a;
}

.statisticBlock span.dollar {
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
    color: #012c7a;
}

.statisticBlock span.percent {
    font-size: 16px;
    line-height: 33px;
    font-weight: 700;
    color: #4194ff;
}

.statisticBlock span.percent1 {
    font-size: 16px;
    line-height: 33px;
    font-weight: 700;
    color: #e0186c;
}
.statisticBlock span.icon-triangleTop {
    color: #4194ff;
}

.statisticBlock .card {
    display: inline-block;

}
.statisticBlock .card span.icon-triangleDown {
    color: #e0186c;
}

.info a {
    text-decoration: none;
}

.info .tabs a.active {
    font-size: 16px;
    line-height: 110px;
    font-weight: 700;
    color: #e0186c;
    text-transform: uppercase;
}

.info .tabs a {
    font-size: 16px;
    line-height: 110px;
    color: #0349c6;
    text-transform: uppercase;
    font-weight: 700;
}

.info .accordion h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
}

.info .accordion p.title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #012c7a;
}

.info .accordion p {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}

.but2 button {
    font-size: 16px;
    line-height: 53px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    background-color: #2f7bde;
    border: none;
    font-weight: 700;
}

.tarif {
    background-color: #01338f;
}

.tarif .card {
    display: inline-block;
    padding-left: 175px;
}

.tarif .card span[class^=icon] {
    font-size: 68px;
}

.tarif a {
    text-decoration: none;
}

.tarif span.title {
    font-size: 20px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
}

.tarif .card span.active {
    color: #ffffff;
    font-size: 20px;
    line-height: 84px;
    font-weight: 700;
}

.tarif span.percent {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #e0186c;
}

.tarif span.day {
    font-size: 13px;
    line-height: 24px;
    color: #e0186c;
}

.tarif .contentcard h3 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.tarif .contentcard .planBlock {
    background-color: #012c7a;
    border: 1px dashed #ffffff;
}

.contentcard .planBlock .ulplan span:nth-child(odd) {
    font-size: 15px;
    line-height: 50px;
    font-weight: 300;
    color: #96c2ff;
    text-transform: uppercase;
}

.contentcard .planBlock .ulplan span:nth-child(even) {
    font-size: 15px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.contentcard .planBlock .ulplan2 span.min {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

.contentcard .planBlock .ulplan2 span.dollar {
    font-size: 27px;
    line-height: 33px;
    font-weight: 700;
    color: #2b7fed;
}

.contentcard .planBlock .ulplan2 span.price {
    font-size: 15px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.contentcard .planBlock .ulplan2 span.payMents {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    text-transform: uppercase;
    color: #96c2ff;
}

.contentcard .planBlock span.profit {
    font-size: 15px;
    line-height: 120px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

.planBlock .ulplan3 span.percent {
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
    color: #e0186c;
}

.planBlock .ulplan4 span.percent {
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
    color: #2b7fed;
}

.contentcard .listPlan label {
    font-size: 15px;
    line-height: 84px;
    text-transform: uppercase;
    color: #96c2ff;
}

.contentcard .listPlan input {
    font-size: 17px;
    line-height: 55px;
    color: #ffffff;
    width: 300px;
    height: 55px;
    background-color: #0b48af;
    border: 1px solid #3168cb;
}

.contentcard .listPlan span {
    font-size: 17px;
    line-height: 84px;
    color: #ffffff;
}

.contentcard .listPlan select {
    font-size: 17px;
    line-height: 84px;
    color: #ffffff;
    font-weight: 500;
    width: 300px;
    background-color: #0b48af;
    border: 1px solid #3168cb;
}

.contentcard .calculator {
    text-align: center;
}
.contentcard .calculator input {
    background-color: #e0186c;
    width: 630px;
}

.contentcard .calculator span {
    font-size: 15px;
    line-height: 40px;
    color: #82adf1;
    font-weight: 300;
}
.contentcard .yourProfit {
    text-align: center;
}
.contentcard .yourProfit span:first-child {
    font-size: 15px;
    line-height: 55px;
    font-weight: 300;
    color: #96c2ff;
    text-align: center;
    text-transform: uppercase;
}

.contentcard .yourProfit span.dollar {
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.contentcard .but {
    text-align: center;
}

.contentcard .planBlock div {
    display: inline-block;
    vertical-align: center;

}

.listPlan .item {
    width: 50%;
    float: left;
    text-align: center;
}

.video .videoGraph h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
}

.video .videoGraph span.title {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: rgba(3, 73, 198, 0.11)
}

.video span[class^=icon] {
    font-size: 13px;
    color: #1a59cb;
}

.video .statisticWebsite4 span:first-child {
    color: #4194ff;
}

.video .statisticWebsite5 span:first-child {
    color: #de1c6e;
}

.statistic span[class^="icon"] {
    color: #044ac6;
}

.statistic span.number {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
    color: #0349c6;
}

.statistic .statisticWebsite4 span.number {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
    color: #4194ff;
}

.statistic .statisticWebsite5 span.number {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
    color: #de1c6e;
}

.statistic span.title {
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    color: #061046;
}

.statistic .statisticWebsite4 span.icon-galocha2 {
    color: #4495ff;
}

.statistic .statisticWebsite5 span.icon-galocha2 {
    color: #de1d6f;
}

.statistic .statisticWebsite4 span.persent {
    font-size: 45px;
    line-height: 21px;
    font-weight: 700;
}
.statistic .statisticWebsite {
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}
.statistic .statisticWebsite4 {
    display: inline-block;

}
.statistic .statisticWebsite5 {
    display: inline-block;

}
.listDeposit .oneList {
    width: 50%;
    float: left;
}

.listDeposit .twoList {
    width: 50%;
    float: left;
}

.deposit .listDeposit h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
}

.deposit .oneList span.title {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: #061046;
}

.deposit .oneList span.data {
    font-size: 14px;
    line-height: 50px;
    color: #91a8ce;
}

.deposit .oneList span[class^="icon"] {
    color: #4194ff;
}

.deposit .oneList span.dollar {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #4194ff;
}

.deposit .oneList li span:last-child {
    color: #061046;
}

.deposit .twoList span.title {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: #061046;
}

.deposit .twoList span.data {
    font-size: 14px;
    line-height: 50px;
    color: #91a8ce;
}

.deposit .twoList span[class^="icon"] {
    color: #de1c6e;
}

.deposit .twoList span.dollar {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.deposit .twoList li span:last-child {
    color: #061046;
}

.deposit .but2 {
    text-align: center;
}
.advantages {
    background-color: #023fad;
}

.advantages h3 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.advantages p.title {
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    color: #ffffff;
}

.advantages p:not(.title) {
    font-size: 16px;
    line-height: 30px;
    color: #70aeff;
}

.advantages span.persent1 {
    font-size: 120px;
    line-height: 84px;
    font-weight: 700;
    color: #70aeff;
}

.advantages span.persent2 {
    font-size: 120px;
    line-height: 84px;
    color: #70aeff;
}

.advantages .but {
    text-align: center;
}

.news h2 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
}

.news p:first-child {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #061046;
}

.news span[class^="icon"] {
    color: #de1c6e;
}

.news span.data {
    font-size: 16px;
    line-height: 30px;
    color: #739cdd;
}

.news p.title {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}

footer {
    background-color: #023ba2;
}

.menuFooter li {
    display: inline-block;
    padding-left: 70px;
}

footer a {
    text-decoration: none;
}

footer .data span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
    text-transform: uppercase;
}

footer .data a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

footer .logo span.title {
    font-size: 37px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

footer .logo span:last-child {
    font-size: 13px;
    line-height: 84px;
    color: #ffffff;
    text-transform: uppercase;
}

footer .logo .copyright span {
    font-size: 15px;
    line-height: 30px;
    color: #96c2ff;
}

footer .contact span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
    text-transform: uppercase;
}

footer .contact a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

footer .menuFooter a {
    font-size: 15px;
    line-height: 84px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

.left {
    background-color: #00256a;
}

.left a {
    text-decoration: none;
}

.left a span[class^="icon"] {
    color: #89b4f4;

}

.left a span:last-child {
    font-size: 14px;
    line-height: 120px;
    color: #ffffff;
    text-transform: uppercase;
}

.left .transition {
    border-bottom: 1px solid #325088;
}

.left .copyright span {
    font-size: 13px;
    line-height: 30px;
    color: #6f99da;
}

.right header {
    background-color: #00256a;
}

header a {
    text-decoration: none;
}

.right header .logo span.title {
    font-size: 30px;
    line-height: 68px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.right header .logo span:last-child {
    font-size: 11px;
    line-height: 68px;
    text-transform: uppercase;
    color: #ffffff;
}

.right header .menu a {
    font-size: 15px;
    line-height: 84px;
    font-weight: 500;
    color: #ffffff;
}

.right header .wrap a {
    font-size: 15px;
    color: #ffffff;
    background-color: #2f7bde;
}

.statisticAccount {
    background-color: #eaeff9;
}

.statisticAccount .men {
    width: 45px;
    height: 45px;
}

.referrals {
    background-color: #d6dff2;
}

.statisticAccount a {
    text-decoration: none;
}

.statisticAccount .info span {
    font-size: 14px;
    line-height: 18px;
    color: #012c7a;
}

.statisticAccount .info span.data {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #012c7a;
}

.statisticAccount .balance .But button {
    font-size: 16px;
    line-height: 65px;
    color: #ffffff;
    text-align: center;
    background-color: #003ead;
    border: none;
    width: 230px;
    font-weight: 700;
}

.statisticAccount .yourbalance span:first-child {
    color: #df2977;
}

.statisticAccount .yourbalance span:nth-child(2) {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0349c6;
}

.statisticAccount .yourbalance span:nth-child(3) {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #0349c6;
}

.statisticAccount .balance .But2 button {
    font-size: 16px;
    line-height: 65px;
    color: #ffffff;
    text-align: center;
    background-color: #de1c6e;
    border: none;
    width: 230px;
    font-weight: 700;
}

.statisticAccount .card span[class^="icon"] {
    color: #012c7a;
    background-color: #ffffff;
}

.statisticAccount .card span:nth-child(even) {
    font-size: 14px;
    line-height: 18px;
    color: #012c7a;
}

.statisticAccount .card span.dollars {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #2f7bde;
}

.statisticAccount .card span.money {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #de1c6e;
}

.referrals h1 {
    font-size: 50px;
    line-height: 84px;
    font-weight: 700;
    color: #0349c6;
}

.referrals .men2 {
    width: 60px;
    height: 60px;
}

.referrals .data {
    background-color: #ffffff;
}

.referrals a {
    text-decoration: none;
}

.referrals span[class^="icon"] {
    color: #f03e81;
}

.referrals span.title {
    font-size: 12px;
    line-height: 30px;
    color: #0349c6;
    text-transform: uppercase;
}

.referrals span[class^=down] {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #0349c6;
}

.referrals .data .click {
    background-color: #eaeff9;
    border: 1px solid #cfdaf1;
}

.referrals .data .click a {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}

.referrals .data2 span.name {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .data2 a {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}

.referrals .data2 {
    background-color: #ffffff;
}

.referrals .referralsBlock1 {
    background-color: #f3f7ff;
}

.referrals .referralsBlock2 {
    background-color: #f3f7ff;
}

.referrals .referralsBlock3 {
    background-color: #f3f7ff;
}

.referrals .listStatistic {
    background-color: #ffffff;
}

.referrals .listStatistic label[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic span[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic select {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    background-color: #eaeff9;
    border: 1px solid #cfdaf1;
}

.referrals .listStatistic .DataUser {
    font-size: 14px;
    line-height: 50px;
    color: #012c7a;
}

.referrals .listStatistic .DataUser2 {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #4194ff;
}

.referrals .listStatistic .DataUser3 {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.referrals .listStatistic li {
    border: 1px dotted #bccae0;
}

.referrals .listStatistic2 {
    background-color: #ffffff;
}

.referrals .listStatistic2 select {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    background-color: #eaeff9;
    border: 1px solid #cfdaf1;
}

.referrals .listStatistic2 label[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic2 span[class^="up"] {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #012c7a;
}

.referrals .listStatistic2 li {
    border: 1px dotted #bccae0;
}

.listStatistic2 .Accordion a {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #4194ff;
}

.listStatistic2 .accordion span.icon-triangleDown {
    color: #4194ff;
}

.listStatistic2 .accordion a.open {
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.listStatistic2 .accordion .content span {
    font-size: 14px;
    line-height: 50px;
    color: #012c7a;
}

.listStatistic2 .accordion .content span.ones {
    font-size: 14px;
    line-height: 50px;
    font-weight: 700;
    color: #de1c6e;
}

.listStatistic2 .mail a {
    font-size: 14px;
    line-height: 50px;
    color: #012c7a;
}

.listStatistic2 .status span {
    font-size: 14px;
    line-height: 50px;
    color: #de1c6e;
}